.card1-color {
  background-color: #f16428 !important;
}
.custom-column {
  border: none; /* Remove the border */
  box-shadow: none;
  border-color: transparent;
}
.fixed-size-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.bg-grey {
  background-color: #dfdede !important;
}
.custom-border {
  border: 2px dotted #000;
}
